@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    background-color: #6f6f6f;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: whitesmoke;
  }
  
  .item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 30px;
    font-size: 30px;
    text-align: center;
  }